<!-- index.html -->
<!DOCTYPE html>
<html ng-app="app">
<!-- <html> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>angular test</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script defer src="./controller/controller.js"></script>
    <style>
        .done-true{
            text-decoration: line-through;
            color: grey;
            background: aqua;
        }
    </style>
</head>
<body>
<div class="main" ng-controller="myController">
    <h1>
        {{myTitle}}
    </h1>
    <form ng-submit="addSchedule()">
        오늘할일 : <input type="text" ng-model="ScheduleListForm.title" autofocus /> <br />
        &nbsp;&nbsp;&nbsp;<button type="submit">추 가</button>
    </form>

    <table border="1">
        <tr>
            <td style="width: 50px;">No</td>
            <td style="width: 200px;">Title</td>
            <td style="width: 50px;">Remove</td>
            <td style="width: 50px;">Update</td>
        </tr>
        <tr ng-repeat="item in ScheduleList">
            <td  style="width: 50px;">{{ $index + 1 }}</td>
            <td  style="width: 200px;"><input ng-model="item.complete" type="checkbox"><span class="done-{{item.complete}}">{{item.title}}</span></td>
           <td style="width: 50px;">
                <button type="button" ng-click="remove(item.no)">
                    삭제
                </button>
            </td>
            <td style="width: 50px;">
                <button type="button" ng-click="update(item.no)">
                    수정
                </button>
            </td>
            <!-- <td style="width: 50px;">{{ item.no }}</td> -->
        </tr>
    </table>
</div>
<hr>

</body>
</html>



